<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="demoxml" >
  
  <parameter name="Username" value="Testuser"/>
  <parameter name="Kassword" value="Testusers"/>
    <classes>
       <class name="login.paramterize" />
    </classes>
  </test>
 
</suite>
